{% extends 'main.html' %}
{% load static %}

{% block content %}

    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="bread-inner">
                        <ul class="bread-list">
                            <li><a href="{% url 'index' %}">Home<i class="ti-arrow-right"></i></a></li>
                            <li class="active"><a >Edit Password</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <section class="shop login section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 col-12">
                    <div class="login-form">
                        <h2>Edit Password</h2>
                        <p>Please register in order to checkout more quickly</p>

                        <form class="form" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>Password<span>*</span></label>
                                        <input type="password" name="password_old" placeholder="Password old..." required="required">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>Password<span>*</span></label>
                                        <input type="password" name="password_new1" placeholder="Password new..." required="required">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>Password<span>*</span></label>
                                        <input type="password" name="password_new2" placeholder="Password new confirm..." required="required">
                                    </div>
                                </div>
                                
                                <div class="col-12">
                                    <div class="form-group login-btn">
                                        <button class="btn" type="submit">Save</button>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}